/* COMMON STYLES FOR LOADING SCREEN AND MOVIE DISPLAY */
#movie {
    position: relative;
    width: 100vw;
  }
  
  #movie4, #movie5, #movie6, #movie1, #movie2, #movie3 {
    border-radius: 10px 10px 10px 10px;
  }
  
  .spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  /* LOADING SCREEN STYLES */
  #loading-screen {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* MOVIE DISPLAY STYLES */
  #movieImg {
    display: flex;
    justify-content: right;
    align-items: center;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  #movieImg img {
    max-width: 32%;
    justify-content: center;;
  }
  
  /* MEDIA QUERY FOR SMALLER SCREENS */
  @media only screen and (max-width: 768px) {
    #loading-screen,
    #movie {
      margin-top: 0;
    }
  
    #movie {
      overflow: hidden;
    }
  
    #movieImg {
      justify-content: center;
      animation-name: none;
    }
  
    #movieImg img {
      max-width: 80%;
    }
  }
  
  /* SLIDESHOW KEYS STYLES */
  #prev,
  #next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  #prev {
    opacity: .4;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 1px;
  }
  
  #next {
    opacity: .4;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1800px;
  }
  
  #prev:hover,
  #next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* MEDIA QUERY FOR SMALLER SCREENS */
  @media only screen and (max-width: 768px) {
    #prev,
    #next {
      font-size: 16px;
      padding: 5px;
      margin: 0;
    }
  }
  